<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.example.retryFailedTestcases.ExampleIAnnotation"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.example.retryFailedTestcases.ExampleTestFailure"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
